<a href="https://colab.research.google.com/github/rayssasnt/manipilacao-de-dados_pandas/blob/main/pandas_manipula%C3%A7%C3%A3o_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Manipulaçao de dados

In [595]:
import pandas as pd

In [596]:
url = "https://cdn3.gnarususercontent.com.br/2928-transformacao-manipulacao-dados/dados_hospedagem.json"
dados_hospedagem = pd.read_json(url)

dados_hospedagem.head()

                                         info_moveis
0  {'avaliacao_geral': '10.0', 'experiencia_local...
1  {'avaliacao_geral': '10.0', 'experiencia_local...
2  {'avaliacao_geral': '10.0', 'experiencia_local...
3  {'avaliacao_geral': '10.0', 'experiencia_local...
4  {'avaliacao_geral': '10.0', 'experiencia_local...

In [597]:
dados_hospedagem = pd.json_normalize(dados_hospedagem['info_moveis'])

In [598]:
dados_hospedagem.head(3)

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,[This clean and comfortable one bedroom sits r...,[Lower Queen Anne is near the Seattle Center (...,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[Real Bed, Futon, Futon, Pull-out Sofa, Real B...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$0, $0, $0, $0, $0, $350.00, $350.00, $350.00...","[$0, $0, $0, $20.00, $15.00, $28.00, $35.00, $...","[$110.00, $45.00, $55.00, $52.00, $85.00, $50...."
1,10.0,--,10,[Welcome to the heart of the 'Ballard Brewery ...,"[--, Capital Hill is the heart of Seattle, bor...","[2, 3, 2, 3, 3, 3, 2, 1, 2, 2, 2]","[3, 4, 2, 3, 3, 3, 3, 3, 3, 4, 3]","[5, 6, 8, 3, 3, 5, 4, 5, 6, 7, 4]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$500.00, $300.00, $0, $300.00, $300.00, $360....","[$125.00, $100.00, $85.00, $110.00, $110.00, $...","[$350.00, $300.00, $425.00, $300.00, $285.00, ..."
2,10.0,--,11,[New modern house built in 2013. Spectacular ...,[Upper Queen Anne is a charming neighborhood f...,[4],[5],[7],[Real Bed],"[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$1,000.00]",[$300.00],[$975.00]

In [599]:
colunas = list(dados_hospedagem.columns)

In [600]:
dados_hospedagem = dados_hospedagem.explode(colunas[3:])
dados_hospedagem

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,This clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$0,$110.00
0,10.0,--,1,Our century old Upper Queen Anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$45.00
0,10.0,--,1,Cozy room in two-bedroom apartment along the l...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$55.00
0,10.0,--,1,Very lovely and cozy room for one. Convenientl...,"Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$20.00,$52.00
0,10.0,--,1,The “Studio at Mibbett Hollow' is in a Beautif...,--,1,1,1,Real Bed,"{""Wireless Internet"",Kitchen,""Free Parking on ...",$0,$15.00,$85.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,nan,--,8,Beautiful craftsman home in the historic Wedgw...,--,3,4,5,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...","$1,000.00",$178.00,$299.00
68,nan,--,8,Located in a very easily accessible area of Se...,"Quiet, dead end street near I-5. The proximity...",2,4,4,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",$0,$99.00,$199.00
68,nan,--,8,This home is fully furnished and available wee...,--,1,3,4,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",$0,$0,$400.00
69,nan,--,9,This business-themed modern home features: *H...,Your hosts made Madison Valley their home when...,2,3,6,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...","$1,000.00",$150.00,$250.00
69,nan,--,9,This welcoming home is in the quiet residentia...,"Despite the quiet, leafy streets of this resid...",1,4,6,Real Bed,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$500.00,$0,$350.00

In [601]:
# resetando os indices
dados_hospedagem.reset_index(inplace=True , drop=True)
dados_hospedagem.head()

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,This clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$0,$110.00
1,10.0,--,1,Our century old Upper Queen Anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$45.00
2,10.0,--,1,Cozy room in two-bedroom apartment along the l...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$55.00
3,10.0,--,1,Very lovely and cozy room for one. Convenientl...,"Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$20.00,$52.00
4,10.0,--,1,The “Studio at Mibbett Hollow' is in a Beautif...,--,1,1,1,Real Bed,"{""Wireless Internet"",Kitchen,""Free Parking on ...",$0,$15.00,$85.00

In [602]:
dados_hospedagem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3818 non-null   object
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   object
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   object
 6   quantidade_quartos    3818 non-null   object
 7   quantidade_camas      3818 non-null   object
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   object
 11  taxa_limpeza          3818 non-null   object
 12  preco                 3818 non-null   object
dtypes: object(13)
memory usage: 387.9+ KB

In [603]:
# convertendo dados para int e float
import numpy as np

In [604]:
dados_hospedagem['max_hospedes'] = dados_hospedagem['max_hospedes'].astype(np.int64)

In [605]:
dados_hospedagem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3818 non-null   object
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   object
 6   quantidade_quartos    3818 non-null   object
 7   quantidade_camas      3818 non-null   object
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   object
 11  taxa_limpeza          3818 non-null   object
 12  preco                 3818 non-null   object
dtypes: int64(1), object(12)
memory usage: 387.9+ KB

In [606]:
columns = ["quantidade_banheiros", "quantidade_quartos", "quantidade_camas"]

dados_hospedagem[columns] = dados_hospedagem[columns].astype(np.int64)

dados_hospedagem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3818 non-null   object
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   int64
 6   quantidade_quartos    3818 non-null   int64
 7   quantidade_camas      3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   object
 11  taxa_limpeza          3818 non-null   object
 12  preco                 3818 non-null   object
dtypes: int64(4), object(9)
memory usage: 387.9+ KB

In [607]:
dados_hospedagem['avaliacao_geral'] = dados_hospedagem['avaliacao_geral'].astype(np.float64)

In [608]:
dados_hospedagem['preco']

0       $110.00
1        $45.00
2        $55.00
3        $52.00
4        $85.00
         ...
3813    $299.00
3814    $199.00
3815    $400.00
3816    $250.00
3817    $350.00
Name: preco, Length: 3818, dtype: object

In [609]:
from os import replace
# retirando $  da coluna preco para poder transformar em float64
# apply , lambda e replace

dados_hospedagem['preco'] = dados_hospedagem['preco'].apply(lambda x: x.replace('$','').replace(',','').strip())
dados_hospedagem['preco']

0       110.00
1        45.00
2        55.00
3        52.00
4        85.00
         ...
3813    299.00
3814    199.00
3815    400.00
3816    250.00
3817    350.00
Name: preco, Length: 3818, dtype: object

In [610]:
dados_hospedagem['preco'] = dados_hospedagem['preco'].astype(np.float64)

In [611]:
dados_hospedagem[['taxa_deposito' , 'taxa_limpeza']]

     taxa_deposito taxa_limpeza
0               $0           $0
1               $0           $0
2               $0           $0
3               $0       $20.00
4               $0       $15.00
...            ...          ...
3813     $1,000.00      $178.00
3814            $0       $99.00
3815            $0           $0
3816     $1,000.00      $150.00
3817       $500.00           $0

[3818 rows x 2 columns]

In [612]:
dados_hospedagem[['taxa_deposito' , 'taxa_limpeza']] = dados_hospedagem[['taxa_deposito' , 'taxa_limpeza']].applymap(lambda x : x.replace('$','').replace(',','').strip())

dados_hospedagem[['taxa_deposito' , 'taxa_limpeza']]

/tmp/ipython-input-851581072.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  dados_hospedagem[['taxa_deposito' , 'taxa_limpeza']] = dados_hospedagem[['taxa_deposito' , 'taxa_limpeza']].applymap(lambda x : x.replace('$','').replace(',','').strip())

     taxa_deposito taxa_limpeza
0                0            0
1                0            0
2                0            0
3                0        20.00
4                0        15.00
...            ...          ...
3813       1000.00       178.00
3814             0        99.00
3815             0            0
3816       1000.00       150.00
3817        500.00            0

[3818 rows x 2 columns]

In [613]:
dados_hospedagem[['taxa_deposito' , 'taxa_limpeza']] = dados_hospedagem[['taxa_deposito' , 'taxa_limpeza']].astype(np.float64)

dados_hospedagem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3162 non-null   float64
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   int64
 6   quantidade_quartos    3818 non-null   int64
 7   quantidade_camas      3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   float64
 11  taxa_limpeza          3818 non-null   float64
 12  preco                 3818 non-null   float64
dtypes: float64(4), int64(4), object(5)
memory usage: 387.9+ KB

In [614]:
# transformando os caracteres em minusculo
dados_hospedagem['descricao_local'] = dados_hospedagem['descricao_local'].str.lower()

In [615]:
# removendo caractesres especiais
dados_hospedagem['descricao_local'] = dados_hospedagem['descricao_local'].str.replace('[^a-zA-Z0-9\-\']', ' ', regex=True)

<>:2: SyntaxWarning: invalid escape sequence '\-'
<>:2: SyntaxWarning: invalid escape sequence '\-'
/tmp/ipython-input-3074826425.py:2: SyntaxWarning: invalid escape sequence '\-'
  dados_hospedagem['descricao_local'] = dados_hospedagem['descricao_local'].str.replace('[^a-zA-Z0-9\-\']', ' ', regex=True)

In [616]:
# removendo hifens fora de palavras compostas
dados_hospedagem['descricao_local'] = dados_hospedagem['descricao_local'].str.replace('(?<!\w)-(?!\w)', '' , regex=True)

<>:2: SyntaxWarning: invalid escape sequence '\w'
<>:2: SyntaxWarning: invalid escape sequence '\w'
/tmp/ipython-input-2743016858.py:2: SyntaxWarning: invalid escape sequence '\w'
  dados_hospedagem['descricao_local'] = dados_hospedagem['descricao_local'].str.replace('(?<!\w)-(?!\w)', '' , regex=True)

In [617]:
dados_hospedagem['descricao_local'][1]

"our century old upper queen anne house is located near beautiful postcard-esc views of the city  and close easy bus lines  shared kitchen and bathroom  three easy-going roommates  and a home recording studio  if you'd like to take a crack at a song  the guest room is divided into 2 sections  a small office type area with a couple chairs  and complimentary guitar  if the mood should strike you   and a large walk-in closet where the bed is located  if you enjoy sleeping in cave-like environments  you will not be disappointed here  the house is over a hundred years old  so it does accumulate dusty fairly easily and is in need of some paint touch-ups  but it's got a ton of character that makes up for it     you're welcome to access all areas of the house besides our private rooms  obviously  and basement music studio when we aren't home  you're welcome to check it out when i'm around  but there's a fair amount of expensive equipment lying around down there  and i want to keep it accident-f"

In [618]:
# separar caracteres  (Tokenização)
dados_hospedagem['descricao_local'] = dados_hospedagem['descricao_local'].str.split()

In [619]:
dados_hospedagem['comodidades']

0       {Internet,"Wireless Internet",Kitchen,"Free Pa...
1       {TV,Internet,"Wireless Internet",Kitchen,"Free...
2       {TV,Internet,"Wireless Internet",Kitchen,"Free...
3       {Internet,"Wireless Internet",Kitchen,"Free Pa...
4       {"Wireless Internet",Kitchen,"Free Parking on ...
                              ...
3813    {TV,"Cable TV",Internet,"Wireless Internet","A...
3814    {TV,"Cable TV",Internet,"Wireless Internet",Ki...
3815    {TV,"Cable TV",Internet,"Wireless Internet","A...
3816    {TV,"Cable TV",Internet,"Wireless Internet","A...
3817    {TV,Internet,"Wireless Internet",Kitchen,"Free...
Name: comodidades, Length: 3818, dtype: object

In [620]:
dados_hospedagem['comodidades'] = dados_hospedagem['comodidades'].str.replace('\{|}|\"', '', regex=True)

<>:1: SyntaxWarning: invalid escape sequence '\{'
<>:1: SyntaxWarning: invalid escape sequence '\{'
/tmp/ipython-input-3029815892.py:1: SyntaxWarning: invalid escape sequence '\{'
  dados_hospedagem['comodidades'] = dados_hospedagem['comodidades'].str.replace('\{|}|\"', '', regex=True)

In [621]:
dados_hospedagem['comodidades'] = dados_hospedagem['comodidades'].str.split()

dados_hospedagem['comodidades']

0       [Internet,Wireless, Internet,Kitchen,Free, Par...
1       [TV,Internet,Wireless, Internet,Kitchen,Free, ...
2       [TV,Internet,Wireless, Internet,Kitchen,Free, ...
3       [Internet,Wireless, Internet,Kitchen,Free, Par...
4       [Wireless, Internet,Kitchen,Free, Parking, on,...
                              ...
3813    [TV,Cable, TV,Internet,Wireless, Internet,Air,...
3814    [TV,Cable, TV,Internet,Wireless, Internet,Kitc...
3815    [TV,Cable, TV,Internet,Wireless, Internet,Air,...
3816    [TV,Cable, TV,Internet,Wireless, Internet,Air,...
3817    [TV,Internet,Wireless, Internet,Kitchen,Free, ...
Name: comodidades, Length: 3818, dtype: object

In [622]:
# coluna descricao_vizinhanca

dados_hospedagem['descricao_vizinhanca'] = dados_hospedagem['descricao_vizinhanca'].str.lower()

In [623]:
dados_hospedagem['descricao_vizinhanca'].str.replace('[^a-zA-Z0-9\-\']', " " , regex=True)

<>:1: SyntaxWarning: invalid escape sequence '\-'
<>:1: SyntaxWarning: invalid escape sequence '\-'
/tmp/ipython-input-3721863559.py:1: SyntaxWarning: invalid escape sequence '\-'
  dados_hospedagem['descricao_vizinhanca'].str.replace('[^a-zA-Z0-9\-\']', " " , regex=True)

0       lower queen anne is near the seattle center  s...
1       upper queen anne is a really pleasant  unique ...
2       the convenience of being in seattle but on the...
3       ballard is lovely  vibrant and one of the most...
4                                                      --
                              ...
3813                                                   --
3814    quiet  dead end street near i-5  the proximity...
3815                                                   --
3816    your hosts made madison valley their home when...
3817    despite the quiet  leafy streets of this resid...
Name: descricao_vizinhanca, Length: 3818, dtype: object

In [624]:
dados_hospedagem['descricao_vizinhanca'] = dados_hospedagem['descricao_vizinhanca'].str.replace('(?<!\w)-(?!\w)' , "" , regex=True)

<>:1: SyntaxWarning: invalid escape sequence '\w'
<>:1: SyntaxWarning: invalid escape sequence '\w'
/tmp/ipython-input-569477311.py:1: SyntaxWarning: invalid escape sequence '\w'
  dados_hospedagem['descricao_vizinhanca'] = dados_hospedagem['descricao_vizinhanca'].str.replace('(?<!\w)-(?!\w)' , "" , regex=True)

In [625]:
dados_hospedagem['descricao_vizinhanca'] = dados_hospedagem['descricao_vizinhanca'].str.split()

In [642]:
dados_hospedagem.fillna(0)

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,"[this, clean, and, comfortable, one, bedroom, ...","[lower, queen, anne, is, near, the, seattle, c...",1,1,1,Real Bed,"[Internet,Wireless, Internet,Kitchen,Free, Par...",0.0,0.0,110.0
1,10.0,--,1,"[our, century, old, upper, queen, anne, house,...","[upper, queen, anne, is, a, really, pleasant,,...",1,1,1,Futon,"[TV,Internet,Wireless, Internet,Kitchen,Free, ...",0.0,0.0,45.0
2,10.0,--,1,"[cozy, room, in, two-bedroom, apartment, along...","[the, convenience, of, being, in, seattle, but...",1,1,1,Futon,"[TV,Internet,Wireless, Internet,Kitchen,Free, ...",0.0,0.0,55.0
3,10.0,--,1,"[very, lovely, and, cozy, room, for, one, conv...","[ballard, is, lovely,, vibrant, and, one, of, ...",1,1,1,Pull-out Sofa,"[Internet,Wireless, Internet,Kitchen,Free, Par...",0.0,20.0,52.0
4,10.0,--,1,"[the, studio, at, mibbett, hollow', is, in, a,...",[],1,1,1,Real Bed,"[Wireless, Internet,Kitchen,Free, Parking, on,...",0.0,15.0,85.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3813,0.0,--,8,"[beautiful, craftsman, home, in, the, historic...",[],3,4,5,Real Bed,"[TV,Cable, TV,Internet,Wireless, Internet,Air,...",1000.0,178.0,299.0
3814,0.0,--,8,"[located, in, a, very, easily, accessible, are...","[quiet,, dead, end, street, near, i-5., the, p...",2,4,4,Real Bed,"[TV,Cable, TV,Internet,Wireless, Internet,Kitc...",0.0,99.0,199.0
3815,0.0,--,8,"[this, home, is, fully, furnished, and, availa...",[],1,3,4,Real Bed,"[TV,Cable, TV,Internet,Wireless, Internet,Air,...",0.0,0.0,400.0
3816,0.0,--,9,"[this, business-themed, modern, home, features...","[your, hosts, made, madison, valley, their, ho...",2,3,6,Real Bed,"[TV,Cable, TV,Internet,Wireless, Internet,Air,...",1000.0,150.0,250.0
3817,0.0,--,9,"[this, welcoming, home, is, in, the, quiet, re...","[despite, the, quiet,, leafy, streets, of, thi...",1,4,6,Real Bed,"[TV,Internet,Wireless, Internet,Kitchen,Free, ...",500.0,0.0,350.0

#Extra

In [626]:
url = 'https://cdn3.gnarususercontent.com.br/2928-transformacao-manipulacao-dados/dados_locacao_imoveis.json'

data = pd.read_json(url)

data

                                        dados_locacao
0   {'apartamento': 'A101 (blocoAP)', 'datas_combi...
1   {'apartamento': 'A102 (blocoAP)', 'datas_combi...
2   {'apartamento': 'B201 (blocoAP)', 'datas_combi...
3   {'apartamento': 'B202 (blocoAP)', 'datas_combi...
4   {'apartamento': 'C301 (blocoAP)', 'datas_combi...
5   {'apartamento': 'C302 (blocoAP)', 'datas_combi...
6   {'apartamento': 'D401 (blocoAP)', 'datas_combi...
7   {'apartamento': 'D402 (blocoAP)', 'datas_combi...
8   {'apartamento': 'E501 (blocoAP)', 'datas_combi...
9   {'apartamento': 'E502 (blocoAP)', 'datas_combi...
10  {'apartamento': 'F601 (blocoAP)', 'datas_combi...
11  {'apartamento': 'F602 (blocoAP)', 'datas_combi...
12  {'apartamento': 'G701 (blocoAP)', 'datas_combi...
13  {'apartamento': 'G702 (blocoAP)', 'datas_combi...
14  {'apartamento': 'H801 (blocoAP)', 'datas_combi...

In [627]:
data = pd.json_normalize(data['dados_locacao'])

data

,apartamento,datas_combinadas_pagamento,datas_de_pagamento,valor_aluguel
0,A101 (blocoAP),"[01/06/2022, 01/07/2022]","[05/06/2022, 03/07/2022]","[$ 1000,0 reais, $ 2500,0 reais]"
1,A102 (blocoAP),"[02/06/2022, 02/07/2022]","[02/06/2022, 06/07/2022]","[$ 1100,0 reais, $ 2600,0 reais]"
2,B201 (blocoAP),"[03/06/2022, 03/07/2022]","[07/06/2022, 03/07/2022]","[$ 1200,0 reais, $ 2700,0 reais]"
3,B202 (blocoAP),"[04/06/2022, 04/07/2022]","[07/06/2022, 05/07/2022]","[$ 1300,0 reais, $ 2800,0 reais]"
4,C301 (blocoAP),"[05/06/2022, 05/07/2022]","[10/06/2022, 09/07/2022]","[$ 1400,0 reais, $ 2900,0 reais]"
5,C302 (blocoAP),"[06/06/2022, 06/07/2022]","[08/06/2022, 12/07/2022]","[$ 1500,0 reais, $ 1200,0 reais]"
6,D401 (blocoAP),"[07/06/2022, 07/07/2022]","[07/06/2022, 09/07/2022]","[$ 1600,0 reais, $ 1300,0 reais]"
7,D402 (blocoAP),"[08/06/2022, 08/07/2022]","[10/06/2022, 14/07/2022]","[$ 1700,0 reais, $ 1400,0 reais]"
8,E501 (blocoAP),"[09/06/2022, 09/07/2022]","[10/06/2022, 09/07/2022]","[$ 1800,0 reais, $ 1500,0 reais]"
9,E502 (blocoAP),"[10/06/2022, 10/07/2022]","[16/06/2022, 12/07/2022]","[$ 1900,0 reais, $ 1600,0 reais]"
10,F601 (blocoAP),"[11/06/2022, 11/07/2022]","[17/06/2022, 13/07/2022]","[$ 2000,0 reais, $ 1000,0 reais]"
11,F602 (blocoAP),"[12/06/2022, 12/07/2022]","[15/06/2022, 12/07/2022]","[$ 2100,0 reais, $ 1100,0 reais]"
12,G701 (blocoAP),"[13/06/2022, 13/07/2022]","[19/06/2022, 20/07/2022]","[$ 2200,0 reais, $ 1200,0 reais]"
13,G702 (blocoAP),"[14/06/2022, 14/07/2022]","[15/06/2022, 17/07/2022]","[$ 2300,0 reais, $ 2100,0 reais]"
14,H801 (blocoAP),"[15/06/2022, 15/07/2022]","[18/06/2022, 16/07/2022]","[$ 2400,0 reais, $ 2200,0 reais]"

In [628]:
# retirando as listas
colunas = list(data.columns)

# output : ['apartamento',
#  'datas_combinadas_pagamento',
#  'datas_de_pagamento',
#  'valor_aluguel']

data = data.explode(colunas[1:])

data

,apartamento,datas_combinadas_pagamento,datas_de_pagamento,valor_aluguel
0,A101 (blocoAP),01/06/2022,05/06/2022,"$ 1000,0 reais"
0,A101 (blocoAP),01/07/2022,03/07/2022,"$ 2500,0 reais"
1,A102 (blocoAP),02/06/2022,02/06/2022,"$ 1100,0 reais"
1,A102 (blocoAP),02/07/2022,06/07/2022,"$ 2600,0 reais"
2,B201 (blocoAP),03/06/2022,07/06/2022,"$ 1200,0 reais"
2,B201 (blocoAP),03/07/2022,03/07/2022,"$ 2700,0 reais"
3,B202 (blocoAP),04/06/2022,07/06/2022,"$ 1300,0 reais"
3,B202 (blocoAP),04/07/2022,05/07/2022,"$ 2800,0 reais"
4,C301 (blocoAP),05/06/2022,10/06/2022,"$ 1400,0 reais"
4,C301 (blocoAP),05/07/2022,09/07/2022,"$ 2900,0 reais"
5,C302 (blocoAP),06/06/2022,08/06/2022,"$ 1500,0 reais"
5,C302 (blocoAP),06/07/2022,12/07/2022,"$ 1200,0 reais"
6,D401 (blocoAP),07/06/2022,07/06/2022,"$ 1600,0 reais"
6,D401 (blocoAP),07/07/2022,09/07/2022,"$ 1300,0 reais"
7,D402 (blocoAP),08/06/2022,10/06/2022,"$ 1700,0 reais"
7,D402 (blocoAP),08/07/2022,14/07/2022,"$ 1400,0 reais"
8,E501 (blocoAP),09/06/2022,10/06/2022,"$ 1800,0 reais"
8,E501 (blocoAP),09/07/2022,09/07/2022,"$ 1500,0 reais"
9,E502 (blocoAP),10/06/2022,16/06/2022,"$ 1900,0 reais"
9,E502 (blocoAP),10/07/2022,12/07/2022,"$ 1600,0 reais"
10,F601 (blocoAP),11/06/2022,17/06/2022,"$ 2000,0 reais"
10,F601 (blocoAP),11/07/2022,13/07/2022,"$ 1000,0 reais"
11,F602 (blocoAP),12/06/2022,15/06/2022,"$ 2100,0 reais"
11,F602 (blocoAP),12/07/2022,12/07/2022,"$ 1100,0 reais"
12,G701 (blocoAP),13/06/2022,19/06/2022,"$ 2200,0 reais"
12,G701 (blocoAP),13/07/2022,20/07/2022,"$ 1200,0 reais"
13,G702 (blocoAP),14/06/2022,15/06/2022,"$ 2300,0 reais"
13,G702 (blocoAP),14/07/2022,17/07/2022,"$ 2100,0 reais"
14,H801 (blocoAP),15/06/2022,18/06/2022,"$ 2400,0 reais"
14,H801 (blocoAP),15/07/2022,16/07/2022,"$ 2200,0 reais"

In [629]:
data.reset_index(drop=True,inplace=True)

In [630]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   apartamento                 30 non-null     object
 1   datas_combinadas_pagamento  30 non-null     object
 2   datas_de_pagamento          30 non-null     object
 3   valor_aluguel               30 non-null     object
dtypes: object(4)
memory usage: 1.1+ KB

In [631]:
data['valor_aluguel'].head(5)

0    $ 1000,0 reais
1    $ 2500,0 reais
2    $ 1100,0 reais
3    $ 2600,0 reais
4    $ 1200,0 reais
Name: valor_aluguel, dtype: object

In [632]:
data['valor_aluguel'] = data['valor_aluguel'].apply(lambda x : x.replace("$" , "").replace("," , "").replace("reais" , "").strip())

data['valor_aluguel'].head(5)

0    10000
1    25000
2    11000
3    26000
4    12000
Name: valor_aluguel, dtype: object

In [633]:
data['valor_aluguel'] = data['valor_aluguel'].astype(np.float64)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   apartamento                 30 non-null     object
 1   datas_combinadas_pagamento  30 non-null     object
 2   datas_de_pagamento          30 non-null     object
 3   valor_aluguel               30 non-null     float64
dtypes: float64(1), object(3)
memory usage: 1.1+ KB

In [640]:
data.head(5)

  apartamento datas_combinadas_pagamento datas_de_pagamento  valor_aluguel
0       A101                  2022-06-01         2022-06-05        10000.0
1       A101                  2022-07-01         2022-07-03        25000.0
2       A102                  2022-06-02         2022-06-02        11000.0
3       A102                  2022-07-02         2022-07-06        26000.0
4       B201                  2022-06-03         2022-06-07        12000.0

In [635]:
# removendo blocoAP
data['apartamento'] = data['apartamento'].str.replace('\(blocoAP\)' , '' , regex=True)

<>:2: SyntaxWarning: invalid escape sequence '\('
<>:2: SyntaxWarning: invalid escape sequence '\('
/tmp/ipython-input-1801304529.py:2: SyntaxWarning: invalid escape sequence '\('
  data['apartamento'] = data['apartamento'].str.replace('\(blocoAP\)' , '' , regex=True)

In [636]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   apartamento                 30 non-null     object
 1   datas_combinadas_pagamento  30 non-null     object
 2   datas_de_pagamento          30 non-null     object
 3   valor_aluguel               30 non-null     float64
dtypes: float64(1), object(3)
memory usage: 1.1+ KB

In [637]:
data['datas_de_pagamento'] = pd.to_datetime(data['datas_de_pagamento'], format='%d/%m/%Y')
data['datas_combinadas_pagamento'] = pd.to_datetime(data['datas_combinadas_pagamento'], format='%d/%m/%Y')

In [638]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   apartamento                 30 non-null     object
 1   datas_combinadas_pagamento  30 non-null     datetime64[ns]
 2   datas_de_pagamento          30 non-null     datetime64[ns]
 3   valor_aluguel               30 non-null     float64
dtypes: datetime64[ns](2), float64(1), object(1)
memory usage: 1.1+ KB

In [641]:
data.head(5)

  apartamento datas_combinadas_pagamento datas_de_pagamento  valor_aluguel
0       A101                  2022-06-01         2022-06-05        10000.0
1       A101                  2022-07-01         2022-07-03        25000.0
2       A102                  2022-06-02         2022-06-02        11000.0
3       A102                  2022-07-02         2022-07-06        26000.0
4       B201                  2022-06-03         2022-06-07        12000.0